* {
  background-color: rgb(182, 85, 85);
}

.head_img {
  border-image: space;
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: rgb(182, 85, 85);
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  padding: 14px 20px;
  text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* unvisited link */
a:link {
  color: #383838;
}

/* visited link */
a:visited {
  color: whitesmoke;
}

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: magenta;
}

table {
  font-family: arial, sans-serif;
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.footer {
  margin-top: 0.5em;
  border-top: 2px solid grey;
  padding-top: 0.7em;
  clear: left;
}

.tg {
  border-collapse: collapse;
  border-spacing: 0;
}

.tg td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg .tg-0lax {
  text-align: left;
  vertical-align: top;
}
